#root[data-screen~="600w"] {
    .LandingPage .title h1 {
        font-size:4em;
    }
}

.Modal[data-flags~="mounting"] {
    .LandingPage .title {
        transform: translateY(-100%);
    }
}

.LandingPage {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap:1em;

    .title {
        h1 {
            font-size:3em;
            font-weight: bold;
            color: white;
            animation: floating 4s infinite ease-in-out;
        }
        transition: transform 2s;
    }

    .controls {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        text-align: center;
        flex-wrap:wrap;
        gap:1em;

        .Tile {
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            align-items:center;

            .Img {
                display:block;
                width:5em;
                height:5em;

                svg {
                    fill:white;
                }
            }
        }
    }

    .info {
        position:absolute;
        bottom:1%;
        right:1%;
    }

}

@keyframes floating {
    0% {
        transform:translateY(-1%);
    }
    50% {
        transform:translateY(+2%);
    }
    100% {
        transform:translateY(-1%);
    }
}